@using Microsoft.AspNet.Identity;
@model Domain.Models.CommonModel
@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userId = User.Identity.GetUserId();
}
<link rel="icon" href="~/AdmindekFiles/assets/images/favicon.ico" type="image/x-icon">
@*Google font*@
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Quicksand:500,700" rel="stylesheet">
@*Required Fremwork*@
<link rel="stylesheet" type="text/css" href="~/AdmindekFiles/bower_components/bootstrap/css/bootstrap.min.css">
@*waves.css*@
<link rel="stylesheet" href="~/AdmindekFiles/assets/pages/waves/css/waves.min.css" type="text/css" media="all">
@*feather icon*@
<link rel="stylesheet" type="text/css" href="~/AdmindekFiles/assets/icon/feather/css/feather.css">
@*sweet alert framework*@
<link rel="stylesheet" type="text/css" href="~/AdmindekFiles/bower_components/sweetalert/css/sweetalert.css">
@*themify-icons line icon*@
<link rel="stylesheet" type="text/css" href="~/AdmindekFiles/assets/icon/themify-icons/themify-icons.css">
@*ico font*@
<link rel="stylesheet" type="text/css" href="~/AdmindekFiles/assets/icon/icofont/css/icofont.css">
@*Font Awesome*@
<link rel="stylesheet" type="text/css" href="~/AdmindekFiles/assets/icon/font-awesome/css/font-awesome.min.css">
@*animation nifty modal window effects css*@
<link rel="stylesheet" type="text/css" href="~/AdmindekFiles/assets/css/component.css">
@*Style.css*@
<link rel="stylesheet" type="text/css" href="~/AdmindekFiles/assets/css/style.css">
<link rel="stylesheet" type="text/css" href="~/AdmindekFiles/assets/css/pages.css">

<div class="container">
    @foreach (var item in Model.accountModel)
    {
        <div class="main-body">
            <a class="text-center"><h2>User Profile</h2></a>
            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="@Url.Content(item.ImagePath)" class="rounded-circle" width="150">
                                <div class="mt-3">
                                    <h4></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card mb-3">

                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @item.Email
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Mobile</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    +91 - @item.Mobile
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Address</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @item.City, @item.State, @item.Country
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-12">
                                    <button type="button" class="btn btn-primary updateAdminModel waves-effect" data-id="@userId" data-email="@item.Email" data-accountid="@item.AccountId" data-mobile="@item.Mobile">Edit</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    }
</div>

<!-- Modal -->
<div class="animation-model">
    <div class="modal fade" id="updateAdminModelD" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <input type="hidden" id="hiddenId">
            <input type="hidden" id="hiddenEmail">
            <input type="hidden" id="hiddenaccountId">
            <div class="md-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Update your Profile.</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group form-primary">
                                <label class="float-label control-label" for="txtMobile">Mobile</label>
                                <input type="text" name="txtMobile" id="txtMobile" maxlength="10" class="form-control form-control-primary" placeholder="Enter Mobile" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group form-primary">
                                <label class="float-label control-label" for="txtLocation">Location</label>
                                @if (ViewBag.CountryList != null)
                                {
                                    @Html.DropDownListFor(x => x.locationModel.Cid, ViewBag.CountryList as SelectList, "Select Country", new { @class = "form-control", @id = "Cid", @name = "Cid" })

                                }
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group form-primary">
                                @Html.DropDownListFor(x => x.locationModel.Sid, new SelectList(""), "Select State", new { @class = "form-control", @id = "Sid", @name = "Sid", @style = "margin-top: 34px;" })
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group form-primary">
                                @Html.DropDownListFor(x => x.locationModel.Cityid, new SelectList(""), "Select City", new { @class = "form-control", @id = "Cityid", @name = "Cityid", @style = "margin-top: 34px;" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group form-primary">
                                <label class="float-label control-label">Photo</label>
                                <input type="file" name="imgFile" id="imgFile" accept="image/*" onchange="previewFile(this);" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="d-flex flex-column align-items-center text-center" style="margin-left: 10px;">
                            <img id="previewImg" class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4></h4>
                            </div>
                        </div>
                    </div>
                    <div class="row m-t-0">
                        <div class="col-md-12">
                            <div id="divResponseCustomizationMsg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger waves-effect md-close" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary waves-effect" onclick="updateAdmin();">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/AdmindekFiles/bower_components/jquery/js/jquery.min.js"></script>
<!-- waves js -->
<script src="~/AdmindekFiles/assets/pages/waves/js/waves.min.js"></script>
<!-- modernizr js -->
<script type="text/javascript" src="~/AdmindekFiles/bower_components/modernizr/js/modernizr.js"></script>
<script type="text/javascript" src="~/AdmindekFiles/bower_components/modernizr/js/css-scrollbars.js"></script>
<!-- sweet alert js -->
<script type="text/javascript" src="~/AdmindekFiles/bower_components/sweetalert/js/sweetalert.min.js"></script>
<script type="text/javascript" src="~/AdmindekFiles/assets/js/modal.js"></script>
<!-- modalEffects js nifty modal window effects -->
<script src="~/AdmindekFiles/assets/js/classie.js"></script>
<script type="text/javascript" src="~/AdmindekFiles/assets/js/modalEffects.js"></script>
<script src="~/AdmindekFiles/assets/js/pcoded.min.js"></script>
<script src="~/AdmindekFiles/assets/js/vertical/vertical-layout.min.js"></script>
<script src="~/AdmindekFiles/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
<!-- Custom js -->
<script type="text/javascript" src="~/AdmindekFiles/assets/js/script.js"></script>

<script type="text/javascript">

    $(document).ready(function () {

        $("#Cid").change(function () {
            var countryId = $(this).val();
            $.ajax({
                type: "post",
                url: "/Home/GetStateList?Cid=" + countryId,
                contentType: "html",
                success: function (response) {
                    $("#Sid").empty();
                    $("#Sid").append(response);
                }
            })
        })


        $("#Sid").change(function () {
            var stateId = $(this).val();
            $.ajax({
                type: "post",
                url: "/Home/GetCityList?Sid=" + stateId,
                contentType: "html",
                success: function (response) {
                    $("#Cityid").empty();
                    $("#Cityid").append(response);
                }
            })
        })
    })


    $(document).on("click", ".updateAdminModel", function () {

        var Id = $(this).attr("data-id");
        var Email = $(this).attr("data-email");
        var AccountId = $(this).attr("data-accountid");
        var Mobile = $(this).attr("data-mobile");

        $("#hiddenId").val(Id)
        $("#hiddenEmail").val(Email)
        $("#hiddenaccountId").val(AccountId)
        $("#txtMobile").val(Mobile);
        $('#updateAdminModelD').modal();
    });

    var updateAdmin = function () {

        //let txtAccountId = $("#hiddenaccountId").val();
        //let txtAdminId = $("#hiddenId").val();
        //let txtEmail = $("#hiddenEmail").val();
        let txtMobile = $("#txtMobile").val();
        let txtCountry = $("#Cid option:selected").text();
        let txtState = $("#Sid option:selected").text();
        let txtCity = $("#Cityid option:selected").text();

        var formData = new FormData();

        var totalFiles = document.getElementById("imgFile").files.length;
        for (var i = 0; i < totalFiles; i++) {
            var file = document.getElementById("imgFile").files[i];
            formData.append("ImageFile", file);
        }
        formData.append('AccountId', $("#hiddenaccountId").val());
        formData.append('Id', $("#hiddenId").val());
        formData.append('Email', $("#hiddenEmail").val());
        formData.append('Mobile', $("#txtMobile").val());
        formData.append('Country', $("#Cid option:selected").text());
        formData.append('State', $("#Sid option:selected").text());
        formData.append('City', $("#Cityid option:selected").text());


        if (txtMobile == "" || txtMobile == null &&
            txtCountry == "" || txtCountry == null || txtCountry == "Select Country" &&
            txtState == "" || txtState == null || txtState == "Select State" &&
            txtCity == "" || txtCity == null || txtCity == "Select City") {
            $("#divResponseCustomizationMsg").html("<div class='alert background-danger alert-dismissable'><a class='close' data-dismiss='alert' aria-label='close'>×</a><strong><i class='fa fa-times-circle' aria-hidden='true'></i></strong>      " + "Something went wrong" + "</div>");
            return false;
        }


        $.ajax({
            url: '/Home/UpdateAdmin',
            type: 'POST',
            /* data: JSON.stringify({ 'AccountId': txtAccountId, 'Id': txtAdminId, 'Email': txtEmail, 'Mobile': txtMobile, 'Country': txtCountry, 'State': txtState, 'City': txtCity }),*/
            /*contentType: "application/json; charset=utf-8",*/
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                if (response.IsError == false) {
                    $("#divResponseCustomizationMsg").html("<div class='alert background-success alert-dismissable'><a class='close' data-dismiss='alert' aria-label='close'>×</a><strong><i class='fa fa-check' aria-hidden='true'></i></strong>   " + response.Message + "</div>");
                    setTimeout(function () {
                        $("#updateAdminModelD .close").click();
                        window.location.reload();
                    }, 2500);
                }
                else {
                    $("#divResponseCustomizationMsg").html("<div class='alert background-danger alert-dismissable'><a class='close' data-dismiss='alert' aria-label='close'>×</a><strong><i class='fa fa-times-circle' aria-hidden='true'></i></strong>" + response.Message + "</div>");
                    setTimeout(function () {
                        $("#updateAdminModelD .close").click();
                        window.location.reload();
                    }, 1000);
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function previewFile() {
        var file = $("input[type=file]").get(0).files[0];
        if (file) {
            var reader = new FileReader();
            reader.onload = function () {
                $("#previewImg").attr("src", reader.result);
            }
            reader.readAsDataURL(file);
        }
    }
</script>
